.fade-in {
    animation: fadeIn 0.4s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.search-bar input:focus {
  box-shadow: 0 0 0 2px #8b2eb8;
  background: #fff;
}
.input-group.search-bar {
  background: #fff;
  border-radius: 50px;
  border: 1px solid #e0e0e0;
}
.input-group-text {
  background: transparent;
  border: none;
}