<div class="header">
  <div class="header-content">
    <button class="sidebar-toggle" (click)="onToggleSidebar()">
      <i class="bi bi-list"></i>
    </button>
    <div>
      <h1 class="header-title">Hello Said</h1>
      <div class="header-date">10 Janvier 2025</div>
    </div>
    <div class="user-info">
      <span class="icon-envelope">
        <i class="bi bi-envelope-fill"></i>
      </span>
      <span class="icon-bell">
        <i class="bi bi-bell-fill"></i>
        <span class="notification-badge">+3</span>
      </span>
      <span class="user-avatar">S</span>
    </div>
  </div>
</div>