<div class="chat-container">
  <div class="chat-header">
    <h5>Conversation</h5>
  </div>
  <div class="discussion-list">
  <div class="discussion-list">
  <h3>Mes Discussions</h3>
  <ul>
    <li *ngFor="let user of conversationUsers" (click)="selectUser(user.useridKeycloak)">
      {{ user.name }} {{ user.prenom }}
    </li>
  </ul>
</div>


  <div class="chat-messages">
    <div *ngFor="let message of messages" 
         [class]="message.senderId === senderId ? 'message-sent' : 'message-received'">
      <div class="message-content">{{ message.text }}</div>
      <div class="message-time">
      </div>
    </div>
  </div>

  <div class="chat-input">
    <input type="text" 
           [(ngModel)]="newMessage" 
           (keyup.enter)="sendMessage()"
           placeholder="Écrivez un message...">
    <button (click)="sendMessage()" [disabled]="!newMessage.trim()">
      <i class="send-icon">→</i>
    </button>
  </div>
</div>